[Unit]
Description=Weekly pyCluster country data refresh

[Timer]
OnCalendar=weekly
Persistent=true
RandomizedDelaySec=2h
Unit=pycluster-cty-refresh.service

[Install]
WantedBy=timers.target
