[Unit]
Description=Frequent pyCluster country data refresh

[Timer]
OnCalendar=*-*-* 00/6:15:00
Persistent=true
RandomizedDelaySec=30m
Unit=pycluster-cty-refresh.service

[Install]
WantedBy=timers.target
